section#conteudo {
    width: 1000px;
    margin: auto;
}

iframe#frame-spec {
    maxwidth: 400px;
    width: 100%;
    height: auto;
    border: none;
    overflow: hidden;
}

area {
    outline: 0;
} 

